<h1>Listing Restaurants</h1>
<%= link_to 'New Restaurant', new_restaurant_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @restaurants.each do |restaurant| %>
    <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.description %></td>
      <td><%= link_to 'Show', restaurant_path(restaurant)%></td>
      <td><%= link_to 'Edit Listing', edit_restaurant_path(restaurant) %></td>
      <td><%= link_to 'Delete', restaurant_path(restaurant),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
