<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <script src="../assets/javascripts/bootstrap-rating-input.min.js" type="text/javascript"></script>

    <p>
      <strong>Name:</strong>
      <%= @restaurant.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @restaurant.description %>
    </p>

    <h2>Past Reviews:</h2>
    <%= render @restaurant.reviews %>

    <h2>Add a review:</h2>
    <%= render 'reviews/form' %>

    <%= link_to 'View Restaurants', restaurants_path%>
  </body>
</html>
