<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h2>Past Reviews:</h2>
<% @restaurant.reviews.each do |review| %>

  <p>
    <strong>Review:</strong>
    <%= review.comment %>
  </p>
<% end %>

<h2>Add a review:</h2>
<%= form_with(model: [ @restaurant, @restaurant.reviews.build ], local: true) do |form| %>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>
  <p>
    <%= form.submit "Post Review" %>
  </p>
<% end %>

<%= link_to 'View Restaurants', restaurants_path%>
