<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h2>Past Reviews:</h2>
<%= render @restaurant.reviews %>


<h2>Add a new review:</h2>
<%= render 'reviews/form' %>


<%= link_to 'View Restaurants', restaurants_path%>
